<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roma</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
<h1> "Welcome to ROMA BnB!" </h1>
current user: <%= @username %>
<% if @username != 'none' %>
  <a href="/logout">Logout</a>
<% else %>
<div style='border: 3px solid red'>
  <a href="/login/host"> Login as Host </a> 
  <a href="/signup/host"> Like to sign up as Host?</a>
</div>

<div style="border: 3px solid blue;">
<a href="/login/guest"> Login as Guest </a>
<a href="/signup/guest"> Like to sign up as Guest? </a> 
</div>

<% end %>


                                    
</body>
</html>
