<head>
    <title>ROMA AirBnB</title>
    <link rel=“stylesheet” type=“text/css” href=“styles/roma_style.css”>
  </head>


<form  action="/spaces" method = "post>
    <label> for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd">
</form>