<link rel="stylesheet" type="text/css" href="/signup.css">
<body>
<br>
  <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <br>
  <div class='type'>
  <h2> Login your credentials </h2>
  <br>
  <br>

    <form  action="/login/new" method = "post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd">
        <input type="submit" value="Submit">
    </form>
    
    
  </div>

</body>