 <%if @new_host %>
<form  action="/login/host/new" method = "post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd">
        <input type="submit" value="Submit">
    </form>
<%else%>
    <form  action="/login/guest/new" method = "post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd">
        <input type="submit" value="Submit">
    </form>
<% end %>