  <div style='border: 3px dashed red'>
  <h2> New User? Sign up: </h2>
  <form  action="/spaces" method = "post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd">
    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email">
</form>
