html {
  height: 100%;
  max-height: 600px;
  width: 1000px;
  background-color: hsla(204, 100%, 66%, 0.993);
  background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"),
    /* url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"), */
      url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
  background-repeat: repeat-x;
  background-position: 0 20%, 50% 23%, 0 50%, 0 50%, 0 25%;
  background-size: 2500px, 2700px, 500px 0px, 50px, 1000px 400px;
  animation: 120s para infinite linear;
  text-align: center;
  display: table;
  margin: auto;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 15%, 500px 50%, 100px 100%, 400px 0;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

title {
  background-color: darkblue;
}

h1 {
  margin-top: 150px;
  text-transform: uppercase;
  text-align: center;
  font-family: verdana;
  font-weight: 700;
  font-size: 40px;
  color: rgb(117, 221, 216);
  text-shadow: 1px 1px 1px cadetblue, 1px 2px 1px cadetblue,
    1px 3px 1px cadetblue, 1px 4px 1px cadetblue, 1px 5px 1px #919191,
    1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191,
    1px 9px 1px #919191, 1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

form {
  font-style: italic;
  color: aqua;
}

h2 {
  color: cyan;
}

h3 {
  /* color: white; */
  text-align: center;
}

.touch_up {
  /* color: aliceblue; */
  border: 30px solid white;
  border-style: double;
  text-align: center;
}

#white_box {
  background-color:rgba(255,255,255,0.85);
  font-family: verdana;
  font-size: 14px;
  margin: 15px auto;
  width: 90%;
  padding: 15px;
  border-radius: 10px;
}

#log_box {
  position: relative;
  left: 360px;
  top: -90px;
}